<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form #formulario="ngForm"  (ngSubmit)="agregarEmpleados(formulario)" class=" mt-5">

                    <!--
                         id para el edit ,id del empleado
                        cada ves que se seleccione un nuevo dato,se haga databinding con el _id y se
                        rellene el _id
                    -->

                    <input type="hidden" 
                          name="_id" 
                          #_id="ngModel" 
                          [(ngModel)]="empleadoDataBinding._id">
                    
                    <input type="text"
                          class="form-control" 
                          placeholder="write your name"
                          name="name" 
                          #name ="ngModel"
                          [(ngModel)]="empleadoDataBinding.name"
                           /> <br>

                    <input 
                         type="text" 
                         placeholder="write your position"
                         name="position" 
                         #position="ngModel"
                         [(ngModel)]="empleadoDataBinding.position"
                         class="form-control" /> <br>

                    <input 
                         type="text" 
                         name="office"
                         placeholder="write your office"  
                         #office="ngModel"
                         [(ngModel)]="empleadoDataBinding.office"
                       
                         class="form-control" />  <br>

                    <input 
                         type="text" 
                         name="salary" 
                         placeholder="write your salary"
                         #salary="ngModel"
                         [(ngModel)]="empleadoDataBinding.salary"
                         class="form-control" />  <br>
                    <button class="btn btn-primary btn-block">Enviar</button>
                </form>
            </div>

            <div class="col-md-6">
                <table class="mt-5 table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>position</th>
                            <th>office</th>
                            <th>salary</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr *ngFor="let em of empleadosModelo">
                            <td>{{em.name}}</td>
                            <td>{{em.position}}</td>
                            <td>{{em.office}}</td>
                            <td>{{em.salary}}</td>
                            <td><button class="btn btn-secondary"(click)="editarEmpleado(em)">editar</button></td>
                            <td><button class="btn btn-danger" (click)="eliminarEmpleado(em._id)">eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>